html, .body {
    font-family: "TT Lakes";
    background-color: #f8f8f8;
    margin: 0;
    overflow-x: hidden;
    font-family: "TT Lakes";
}

/* xs - устройства (до 576px) */

/* CSS для ширины, которая меньше 575px (включительно) */

.sm__icons {
    display: none;
}

.md__icons {
    display: none;
}

.lg__icons {
    display: none;
}

.xl__icons {
    display: none;
}

.xs__icons {
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    background-color: #FFFFFF;
    padding: 20px;
}

.xs__button {
    border: none;
    background-color: #FFFFFF;
    outline: none;
    outline-offset: none;
}

/* sm-устройства (больше или равно 576px) */

@media (min-width: 576px) {
    .xs {
        display: none;
    }
    .md {
        display: none;
    }
    .lg {
        display: none;
    }
    .xl {
        display: none;
    }
    .sm__icons {
        display: flex;
        width: 100%;
        background: #FFFFFF;
        padding: 20px;
        justify-content: space-evenly;
    }
    .sm__block_main {
        flex-basis: 50%;
        max-width: 50%;
        display: flex;
        justify-content: space-around;
    }
    .sm__logo-block {
        flex-basis: 70%;
    }
    .sm__button {
        border: none;
        background-color: #FFFFFF;
        outline: none;
        outline-offset: none;
    }
}

/* md-устройства (больше или равно 768px) */

@media (min-width: 768px) {
    /* CSS для: 768px <= ширины <= 991px */
    .xs {
        display: none;
    }
    .sm {
        display: none;
    }
    .lg {
        display: none;
    }
    .xl {
        display: none;
    }
    .md {
        display: block;
    }
    .md__icons {
        display: flex;
        width: 100%;
        background: #FFFFFF;
        padding: 20px;
        justify-content: space-evenly;
    }
    .md__block_main {
        flex-basis: 50%;
        max-width: 50%;
        display: flex;
        justify-content: space-around;
    }
    .md__logo-block {
        flex-basis: 70%;
    }
    .md__button {
        border: none;
        background-color: #FFFFFF;
        outline: none;
        outline-offset: none;
    }
}

/* lg-устройства (больше или равно 992px) */

@media (min-width: 992px) {
    /* CSS для: 992px <= ширины <= 1119px */
    .xs {
        display: none;
    }
    .sm {
        display: none;
    }
    .md {
        display: none;
    }
    .xl {
        display: none;
    }
    .lg {
        display: block;
    }
    .main {
        max-width: 100%;
        margin-top: 42px;
        margin-left: 32px;
        margin-right: 28px;
    }
    .lg__icons-and-header {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .lg__header {
        flex-basis: 30%;
        font-size: 16px;
    }
    .lg__head {
        margin: 0;
    }
    .lg__header::before {
        content: " ";
        background-image: url(../img/highlight.svg);
        width: 6px;
        height: 50px;
        position: absolute;
        left: 0;
        top: 30px;
    }
    .lg__block_links-and-buttons {
        flex-basis: 75%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .lg__block_nav-left {
        display: flex;
        flex-basis: 30%;
    }
    .lg__block_nav-right {
        display: flex;
        justify-content: flex-end;
    }
    .lg__link {
        text-decoration: none;
        color: black;
        padding-right: 10px;
        font-size: 14px;
    }
    .lg__button {
        border: none;
        background-color: #f8f8f8;
        outline: none;
        outline-offset: none;
    }
    .lg__button {
        margin-top: -10px;
    }
}

/* xl-устройства (больше или равно 1200px) */

@media (min-width: 1200px) {
    /* CSS для: ширины >= 1200px */
    .xs {
        display: none;
    }
    .sm {
        display: none;
    }
    .md {
        display: none;
    }
    .lg {
        display: none;
    }

    .xl {
        display: block;
    }

    .main {
        max-width: 100%;
        margin-top: 42px;
        margin-left: 32px;
        margin-right: 28px;
    }
    .xl__icons-and-header {
        width: 100%;
        display: flex;
        
    }

    .xl__header {
        flex-basis: 50%;
        font-size: 28px
    }

    .xl__head {
        margin: 0;
    }

    .xl__header::before {
        content: " ";
        background-image: url(../img/highlight.svg);
        width: 6px;
        height: 70px;
        position: absolute;
        left: 0;
        top: 30px;
    }
    .lg__block_links-and-buttons {
        flex-basis: 75%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .lg__block_nav-left {
        display: flex;
        flex-basis: 30%;
    }
    .lg__block_nav-right {
        display: flex;
        justify-content: flex-end;
    }
    .lg__link {
        text-decoration: none;
        color: black;
        padding-right: 10px;
        font-size: 14px;
    }
    .lg__button {
        border: none;
        background-color: #f8f8f8;
        outline: none;
        outline-offset: none;
    }
    .lg__button {
        margin-top: -10px;
    }
}

/* xl-устройства (больше или равно 1200px) */

@media (min-width: 1200px) {
    /* CSS для: ширины >= 1200px */
    .xs {
        display: none;
    }
    .sm {
        display: none;
    }
    .md {
        display: none;
    }
    .lg {
        display: none;
    }

    .xl {
        display: block;
    }

    .main {
        max-width: 100%;
        margin-top: 42px;
        margin-left: 32px;
        margin-right: 28px;
    }
    .xl__icons-and-header {
        width: 100%;
        display: flex;
        
    }

    .xl__header {
        flex-basis: 50%;
        font-size: 28px
    }

    .xl__head {
        margin: 0;
    }

    .xl__header::before {
        content: " ";
        background-image: url(../img/highlight.svg);
        width: 6px;
        height: 70px;
        position: absolute;
        left: 0;
        top: 30px;
    }

    .xl__block_links-and-buttons {
        flex-basis: 75%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .xl__block_nav-left {
        display: flex;
        flex-basis: 30%;
    }
    .xl__block_nav-right {
        display: flex;
        justify-content: flex-end;
    }
    .xl__link {
        text-decoration: none;
        color: black;
        padding-right: 10px;
        font-size: 16px;
    }
    .xl__button {
        border: none;
        background-color: #f8f8f8;
        outline: none;
        outline-offset: none;
    }
    .xl__button {
        margin-top: -10px;
    }
}