.menu {
    overflow-x: auto;
}
.menu__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    min-width: 1120px;
    overflow-x: auto;
    justify-content: space-around;
}
.menu__item {
    background: #FFFFFF;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 10px;
}
.menu__item_blue {
    border: 2px solid #B8FFEC;
}
.menu__link {
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
}